/************************
* html/body
************************/
html, body {
	margin:0;
	padding:0;
	height:100%;
}

/************************
* navigation
************************/

.navbar.navbar-fixed-top {
	transition-property: all;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.1s;
}

.navbar-transparent {
	background-color: transparent;
}

.navbar-main {
	background-color: white;
	box-shadow: rgba(108, 108, 108, 0.3) 2px 2px;
}

nav {
	font-family: 'Open Sans', serif;
}

.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover,
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li>a:hover {
	color: grey;
}

a, ul.nav, nav.li, a:visited{
	color: sandybrown;
}

a, ul.nav, nav.li, a:active {
	color: white;
}

ul.nav, li.active, a{
	color: sandybrown;
}

@media (max-width: 768px){
	.navbar-left {
		display: none;
	}
}

/************************
* main
************************/

h1 {
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
}

h2 {
	font-family: 'Open Sans', serif;
	color: grey;
	padding: 15px;
}

video {
	position: fixed;
	top:0;
	left:0;
}

@media (min-width: 992px) and (max-width: 1200px) {
	video {
		min-width:100%;
		min-height:100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	video {
		min-height: 100%;
		max-height: 100%;
	}
}

#quote {
	font-family: 'Roboto Slab', serif;
	color: grey;
	padding: 10px;
}

#bio {
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	border-left-style: solid;
	border-width: thin;
	border-color: lightgray;
}

#portfolio {
	padding-top: 30px;
}

#resume {
	font-family: 'Roboto Slab', serif;
}

.thumbnail {
	max-width: 100%;
}

#contact-form {
	font-family: 'Open Sans', sans-serif;
	margin: 15px;
}

.fa {
	color: grey;
}

.form-group {
	border-width: 10px;
	border-color: grey;
}

.btn-xs {
	margin: 10px;
}

/************************
* footer
************************/

#bottom-footer {
	background-color: sandybrown;
	bottom:0;
}

#copyright {
	padding-top: 10px;
	margin-left: 10px;
	bottom: 0;
}

body {
	padding-bottom: 50px;
}