nav {
	font-family: 'Open Sans', serif;
	color: grey;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
}

h2 {
	font-family: 'Open Sans', serif;
	color: grey;
	padding: 15px;
}

video {
	position: fixed;
	top:0;
	left:0;
}

@media (min-width: 992px) and (max-width: 1200px) {
	video {
		min-width:100%;
		min-height:100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	video {
		min-height: 100%;
		max-height: 100%;
	}
}

#quote {
	font-family: 'Roboto Slab', serif;
	color: grey;
	padding: 10px;
}

#bio {
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	border-left-style: solid;
	border-width: thin;
	border-color: lightgray;
}

#portfolio {
	padding-top: 30px;
}

.thumbnail {
	max-width: 100%;
}

#contact-form {
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
	border-left-style: solid;
	border-width: thin;
	border-color: lightgray;
}
.fa {
	color: grey;
}

body {
	padding-bottom: 70px;
}