RewriteEngine on
RewriteCond %{HTTP_HOST} ^sarahruthdevelops.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.sarahruthdevelops.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]