.col-md-12 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.serif {
	font-family: Palatino serif;
}

#bio {
	border-left-style: solid;
	border-width: thin;
	border-color: lightgray;
}

.img-thumbnail {

	@padding-base-vertical: 12px;
	@padding-base-horizontal: 12px;
}