h1 {
	font-family: 'Open Sans', sans-serif;
}

h3 {
	font-family: 'Open Sans', serif;
	color: grey;
}

@media (min-width: 992px) and (max-width: 1200px) {
	video {
		min-width:100%;
		min-height:100%;
	}
}

video {
	min-height: 786px;
	max-height: 991px;
}

.quote {
	font-family: 'Roboto Slab', serif;
	color: grey;
}

#bio {
	font-family: 'Open Sans', sans-serif;
	border-left-style: solid;
	border-width: thin;
	border-color: lightgray;
}

#gallery {
	padding-top: 30px;
}

.thumbnail {
	max-width: 100%;
}

body {
	padding-bottom: 70px;
}