.serif {
	font-family: 'Crimson Text', serif;
	font-size: larger;
	color: grey;
}

#bio {
	border-left-style: solid;
	border-width: thin;
	border-color: lightgray;
}

#gallery {
	padding-top: 30px;
}

.swipebox {
	padding: 15px;
	overflow: hidden;
}